body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 28px;
}
.logo {
  display: flex;
  align-items: center;
  padding: 5px;
}
.menu {
  display: flex;
  align-items: center;
}
nav ul,
nav li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 24px;
  text-decoration: none;
  color: #ff9100;
}
nav .active a,
nav a:hover {
  background-color: #ff9100;
  color: #ffffff;
  border-radius: 4px;
}
#banner {
  display: flex;
  justify-content: center;
  background-image: url("../../assets/images/b.jpg");
  background-position: center;
  background-size: cover;
  height: 670px;
}
.column {
  flex-direction: column;
}
.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_headline h1 {
  font-size: 70px;
  color: white;
  text-shadow: 0px 1px 0px #000000;
  margin: 0;
  padding: 0;
  width: 600px;
  margin: 28px;
}
.banner_headline h2 {
  font-size: 21px;
  color: white;
  text-shadow: 0px 1px 0px #000000;
  margin: 0;
  padding: 0;
  width: 600px;
  margin-top: 30px;
  margin: 28px;
}
.banner_options {
  height: 210px;
  display: flex;
}
.banner1,
.banner2,
.banner3 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  flex: 1;
  padding: 20px;
}
.banner1 {
  background-color: white;
}
.banner2 {
  background-color: #ffd37b;
}
.banner3 {
  background-color: #ff9100;
}
.banner-title {
  font-size: 21px;
}
.banner-desc {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner_options a {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}
#geral {
  display: flex;
  justify-content: center;
}
#geral section {
  flex: 2;
}
#geral aside {
  flex: 1;
}
.widget-title {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}
.widget-title-bar {
  width: 50px;
  height: 2px;
  background-color: #ff9100;
  margin-top: 10px;
}
.widget-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
article {
  min-width: 300px;
  margin-right: 10px;
  flex: 1;
}
article a {
  cursor: pointer;
  text-decoration: none;
}
article .news-data {
  display: flex;
}
article .news-posted-at {
  background-color: #ff9100;
  color: rgb(5, 3, 3);
  font-size: 20px;
  padding: 10px;
  margin-right: 2px;
}
article .news-coments {
  padding: 10px;
  background-color: #000000;
  font-size: 20px;
  color: #ffffff;
}
article .news-thumbmail {
  margin-top: 30px;
}
article .news-thumbmail img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}
article .news-title {
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 25px;
  color: #000000;
}
article .news-resume {
  font-size: 16px;
  color: #5c5c5c;
  line-height: 20px;
}
.card {
  height: 200px;
  width: 100%;
  background-color: #ffd37b;
  border-radius: 4px;
}
.widget-aside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-left: 24px;
}
#contact a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  font-size: 20px;
}
aside .wiget-contact {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  padding: 20px;
  background-color: #000000;
}
footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
}
.footer-menu {
  margin-top: 20px;
  height: 300px;
  display: flex;
}
.fm1,
.fm2,
.fm3 {
  flex: 1;
  padding: 20px;
  border-radius: 4px;
}
.fm1 {
  background-color: white;
}
.fm2 {
  background-color: #ffd37b;
}
.fm3 {
  background-color: #ff9100;
}
.footer-area {
  display: flex;
  color: #ffffff;
}
.footer-areaitem {
  flex: 1;
  justify-content: center;
}
.flex-colun {
  flex-direction: column;
}
footer .widget-title {
  color: #ffffff;
}
footer .widget-title-text {
  color: #ffffff;
}
.footer-copy {
  border-top: 1px solid#2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 12px;
  margin-top: 30px;
}
.menuMobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.mm-line {
  flex-direction: column;
  height: 2px;
  background-color: #ff9100;
}
@media (max-width: 600px) {
  .banner_headline h1 {
    padding: 20px;
    font-size: 55px;
  }
  .banner_headline h2 {
    font-size: 17px;
  }
  .banner_options {
    height: auto;
    flex-direction: column;
  }
  .container {
    flex-direction: column;
    margin-top: 100px;
  }
  #geral section {
    margin-top: 100px;
  }
  #geral section,
  #geral aside {
    padding: 20px;
  }
  .footer-menu {
    flex-direction: column;
  }
  .footer-area {
    flex-direction: column;
    padding: 15px;
  }
  .logo {
    margin-bottom: 10px;
  }
  header .container {
    flex-direction: row;
  }
  nav ul {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }
  header {
    height: auto;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .banner_headline h2 {
    width: 400px;
  }
}
